## Ordinal Encoding

In [27]:
import numpy as np
import pandas as pd

In [28]:
df = pd.read_csv('customer.csv')

In [29]:
df.sample(5)

    age  gender   review education purchased
26   53  Female     Poor        PG        No
45   61    Male     Poor        PG       Yes
19   97    Male     Poor        PG       Yes
44   77  Female  Average        UG        No
21   32    Male  Average        PG        No

In [30]:
df = df.iloc[:,2:]

In [31]:
X = df.drop(columns='purchased')
y = df['purchased']

In [32]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split

In [33]:
X_train, X_test, y_train,y_test = train_test_split(X,y, test_size=30)

In [34]:
X_train.head()

     review education
28     Poor    School
16     Poor        UG
32  Average        UG
7      Poor    School
8   Average        UG

In [35]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [36]:
X_train = oe.fit_transform(X_train)

In [37]:
X_test = oe.transform(X_test)

In [38]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [39]:
X_train

array([[0., 0.],
       [0., 1.],
       [1., 1.],
       [0., 0.],
       [1., 1.],
       [0., 0.],
       [2., 2.],
       [0., 0.],
       [2., 1.],
       [1., 2.],
       [1., 2.],
       [1., 0.],
       [1., 1.],
       [2., 0.],
       [0., 2.],
       [0., 1.],
       [2., 0.],
       [1., 1.],
       [0., 2.],
       [1., 2.]])

## Label Encoding

In [40]:
from sklearn.preprocessing import LabelEncoder

In [41]:
le = LabelEncoder()
y_train.head()

28     No
16    Yes
32    Yes
7     Yes
8      No
Name: purchased, dtype: object

In [42]:
y_train = le.fit_transform(y_train)

In [43]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [44]:
y_test = le.transform(y_test)

In [45]:
y_train

array([0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0])