In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## ANOVA on Classification

In [17]:
df1 = pd.read_csv('train.csv')
df1.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [3]:
df1.drop(columns=['Ticket','Name','Cabin'], inplace=True)

In [5]:
### Let's perform label encoding on sex column
ordinal_label = {k: i for i, k in enumerate(df['Sex'].unique(), 0)}
df1['Sex'] = df1['Sex'].map(ordinal_label)

In [4]:
df1.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [7]:
X = df.drop(columns='Survived')
y = df['Survived']

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [9]:
X_train.head()

     PassengerId  Pclass  Sex  SibSp  Parch     Fare
233          234       3    1      4      2  31.3875
362          363       3    1      0      1  14.4542
212          213       3    0      0      0   7.2500
886          887       2    0      0      0  13.0000
169          170       3    0      0      0  56.4958

In [10]:
# import the required functions and object.
from sklearn.feature_selection import f_classif
from sklearn.feature_selection import SelectKBest

In [11]:
# select the number of features you want to retain.
select_k = 5

In [12]:
# create the SelectKBest with the mutual info strategy.
selection = SelectKBest(f_classif, k=select_k)
selection.fit(X_train,y_train)

SelectKBest(k=5)

In [13]:
# display the retained features.
features = X_train.columns[selection.get_support()]
print(features)

Index(['Pclass', 'Sex', 'SibSp', 'Parch', 'Fare'], dtype='object')

## ANOVA on Regression

In [6]:
df2 = pd.read_csv('house.csv',usecols=['LandContour','LandSlope', 'OverallQual',
'OverallCond','RoofStyle','RoofMatl', 'MasVnrType','SaleType','SaleCondition', 'SalePrice'])

In [7]:
df2.columns

Index(['LandContour', 'LandSlope', 'OverallQual', 'OverallCond', 'RoofStyle',
       'RoofMatl', 'MasVnrType', 'SaleType', 'SaleCondition', 'SalePrice'],
      dtype='object')

In [8]:
df2.head()

,LandContour,LandSlope,OverallQual,OverallCond,RoofStyle,RoofMatl,MasVnrType,SaleType,SaleCondition,SalePrice
0,Lvl,Gtl,7,5,Gable,CompShg,BrkFace,WD,Normal,208500
1,Lvl,Gtl,6,8,Gable,CompShg,None,WD,Normal,181500
2,Lvl,Gtl,7,5,Gable,CompShg,BrkFace,WD,Normal,223500
3,Lvl,Gtl,7,5,Gable,CompShg,None,WD,Abnorml,140000
4,Lvl,Gtl,8,5,Gable,CompShg,BrkFace,WD,Normal,250000

In [12]:
ordinal_label = {k: i for i, k in enumerate(df2['LandContour'].unique(), 0)}
df2['LandContour'] = df2['LandContour'].map(ordinal_label)

ordinal_label = {k: i for i, k in enumerate(df2['LandSlope'].unique(), 0)}
df2['LandSlope'] = df2['LandSlope'].map(ordinal_label)

ordinal_label = {k: i for i, k in enumerate(df2['RoofStyle'].unique(), 0)}
df2['RoofStyle'] = df2['RoofStyle'].map(ordinal_label)

ordinal_label = {k: i for i, k in enumerate(df2['RoofMatl'].unique(), 0)}
df2['RoofMatl'] = df2['RoofMatl'].map(ordinal_label)

ordinal_label = {k: i for i, k in enumerate(df2['SaleType'].unique(), 0)}
df2['SaleType'] = df2['SaleType'].map(ordinal_label)

ordinal_label = {k: i for i, k in enumerate(df2['SaleCondition'].unique(), 0)}
df2['SaleCondition'] = df2['SaleCondition'].map(ordinal_label)

ordinal_label = {k: i for i, k in enumerate(df2['MasVnrType'].unique(), 0)}
df2['MasVnrType'] = df2['MasVnrType'].map(ordinal_label)

In [14]:
df2.isnull().sum()

LandContour      0
LandSlope        0
OverallQual      0
OverallCond      0
RoofStyle        0
RoofMatl         0
MasVnrType       0
SaleType         0
SaleCondition    0
SalePrice        0
dtype: int64

In [16]:
X = df2.drop(columns='SalePrice')
y = df2['SalePrice']

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [19]:
# import the required functions and object.
from sklearn.feature_selection import f_regression
from sklearn.feature_selection import SelectKBest

In [22]:
# select the number of features you want to retain.
select_k = 4

In [23]:
# create the SelectKBest with the mutual info strategy.
selection = SelectKBest(f_regression, k=select_k)
selection.fit(X_train,y_train)

SelectKBest(k=4, score_func=<function f_regression at 0x7f58c685b550>)

In [25]:
# display the retained features.
features = X_train.columns[selection.get_support()]
print(features)

Index(['OverallQual', 'RoofStyle', 'SaleType', 'SaleCondition'], dtype='object')