In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [3]:
df['Family'] = df['SibSp']+df['Parch']

In [4]:
df.drop(columns=['Ticket','Name','Cabin','Fare'], inplace=True)

In [5]:
ordinal_label = {k: i for i, k in enumerate(df['Sex'].unique(), 0)}
df['Sex'] = df['Sex'].map(ordinal_label)

ordinal_label = {k: i for i, k in enumerate(df['Embarked'].unique(), 0)}
df['Embarked'] = df['Embarked'].map(ordinal_label)

In [6]:
df.dropna(inplace=True)

In [7]:
df.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch  Embarked  Family
0            1         0       3    0  22.0      1      0         0       1
1            2         1       1    1  38.0      1      0         1       1
2            3         1       3    1  26.0      0      0         0       0
3            4         1       1    1  35.0      1      0         0       1
4            5         0       3    0  35.0      0      0         0       0

In [8]:
X = df.drop(columns='Survived')
y = df['Survived']

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [25]:
from sklearn.feature_selection import RFECV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [26]:
model = RandomForestClassifier(n_jobs=-1,max_depth=4)

In [27]:
#build the RFE with CV option.
rfe = RFECV(model, min_features_to_select = 3, step = 1 , cv=5, scoring='accuracy',n_jobs=-1)

In [28]:
# fit the RFE to our data.
selection = rfe.fit(X_train, y_train)

In [29]:
# print the selected features.
feat_cols = list(X_train.columns[selection.get_support()])
print(feat_cols)

['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Family']